<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Franka">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Franka urdf file -->
    <xacro:include filename="$(find cs_hardware_interface)/urdf/exported_panda.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="Franka.ros2_control.xacro" />


    <xacro:Franka_ros2_control name="CoppeliaSimSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
